.App{
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    background-color: rgba(93, 92, 94, 0.615);
    background-image: url("./Image/1.png");
    background-blend-mode: multiply;
    overflow: hidden;
}